*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

/* mantenere in vista l'header  */
header{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  z-index: 999;
}

/* centratura e bg color */
nav{
  background-color: white;
  text-align: center;
  width: 100%;
}

ul{
  display: inline-block;
  width: 48%;
  padding-right: 70px;
}

li{
  display: inline-block;
}

a{
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

/* logo della pagina */
.logo{
  display: inline-block;
  width: 30%;
  height: 80px;
  background-image: url("../img/airbnb.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* logo aereo */
.airplane{
  display: inline-block;
  width: 21%;
  height: 80px;
  background-image: url("../img/airplane.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* main */

main{
  margin-top: 80px;
}

/* contenitore per le immagini */
.contenitore{
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.layout{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.3);
}

/* posizionamento del nome della cittò */
.name{
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px red;
  font-family: 'Lobster', cursive;
}

/* caricamento immagine */
.contenitore.cosenza{
  background-image: url("../img/cosenza.jpg");
}

/* caricamento immagine */
.contenitore.miami{
  background-image: url("../img/miami.jpg");
}

/* caricamento immagine */
.contenitore.tokyo{
  background-image: url("../img/tokyo.jpg");
}

/* caricamento immagine */
.contenitore.toronto{
  background-image: url("../img/toronto.jpg");
}

/* caricamento immagine */
.contenitore.new-york{
  background-image: url("../img/new-york.jpg");
}

.contenitore:hover{
  cursor: pointer;
}
