*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */

/* mantenere in vista l'header  */
header{
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  z-index: 999;
}

/* centratura e bg color */
nav{
  background-color: white;
  text-align: center;
  width: 100%;
}

ul{
  display: inline-block;
  width: 48%;
  padding-right: 70px;
}

#nav-list li{
  display: inline-block;
}

header a{
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

/* logo della pagina */
.logo{
  display: inline-block;
  width: 30%;
  height: 80px;
  background-image: url("../img/airbnb.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* logo aereo */
.airplane{
  display: inline-block;
  width: 21%;
  height: 80px;
  background-image: url("../img/airplane.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  vertical-align: middle;
}

/* main */

.globale{
  width: 80vw;
  margin: 85px auto;
}

#cat-globale{
  background-color: lightblue;
}

#acc-globale{
  width: 55vw;
  border: solid 2px black;
  text-align: center;
  background-color: lightgreen;
}

.globale#acc-globale > h2{
  color: rgb(255, 94, 94);
}

.login{
  text-align: right;
  width: 20%;
  display: inline-block;
}

.intro{
  font-family: 'Lobster', cursive;
  color: rgb(210, 14, 49);
  font-size: 20px;
}

#list-catalogo li{
  font-family: 'Lobster', cursive;
  color: rgb(210, 14, 49);
  font-size: 30px;
  text-decoration: underline;
}

main a {
  font-size: 20px;
}
